USE [vra_db]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 08/01/2013 20:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [char](25) NOT NULL,
	[Email] [char](50) NOT NULL,
	[AreaCode] [char](4) NULL,
	[PhoneNumber] [char](8) NULL,
	[Street] [char](30) NULL,
	[City] [char](35) NULL,
	[Region] [char](30) NULL,
	[ZipPostalCode] [char](6) NULL,
	[Country] [char](50) NULL,
	[HouseNumber] [char](5) NULL,
 CONSTRAINT [XPKCUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [XAK1CUSTOMER] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON
INSERT [dbo].[CUSTOMER] ([CustomerID], [Name], [Email], [AreaCode], [PhoneNumber], [Street], [City], [Region], [ZipPostalCode], [Country], [HouseNumber]) VALUES (2, N'Аликс Венс               ', N'vance@black-mesa.bm                               ', N'095 ', N'37-74-38', NULL, N'Мадрид                             ', NULL, N'653287', N'Испания                                           ', N'39/9 ')
INSERT [dbo].[CUSTOMER] ([CustomerID], [Name], [Email], [AreaCode], [PhoneNumber], [Street], [City], [Region], [ZipPostalCode], [Country], [HouseNumber]) VALUES (3, N'Гордон Фримен            ', N'freeman@city-17.su                                ', N'495 ', N'4493-443', NULL, N'Москва                             ', N'Московская область            ', N'47-377', N'Россия                                            ', N'12   ')
INSERT [dbo].[CUSTOMER] ([CustomerID], [Name], [Email], [AreaCode], [PhoneNumber], [Street], [City], [Region], [ZipPostalCode], [Country], [HouseNumber]) VALUES (4, N'Барни Колхаун            ', N'calhoun@hl2.ru                                    ', N'495 ', N'334-443 ', NULL, N'Москва                             ', N'Московская область            ', N'1-4917', N'Россия                                            ', N'74-3 ')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
/****** Object:  View [dbo].[CustomerPhone]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CustomerPhone](Name,Phone)
AS
SELECT CUSTOMER.Name,'(' + AreaCode + ') ' + PhoneNumber
	FROM CUSTOMER
GO
/****** Object:  View [dbo].[BasicCustomerData]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- VIEWS -- 

CREATE VIEW [dbo].[BasicCustomerData](Name,AreaCode,PhoneNumber)
AS
SELECT CUSTOMER.Name, CUSTOMER.AreaCode, CUSTOMER.PhoneNumber
	FROM CUSTOMER
GO
/****** Object:  Table [dbo].[TRANS]    Script Date: 08/01/2013 20:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANS](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[DateAcquired] [datetime] NULL,
	[AcquisitionPrice] [numeric](8, 2) NULL,
	[PurchaseDate] [datetime] NULL,
	[SalesPrice] [numeric](8, 2) NULL,
	[AskingPrice] [numeric](8, 2) NULL,
	[CustomerID] [int] NULL,
	[WorkID] [int] NOT NULL,
 CONSTRAINT [XPKTRANS] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [XAK1TRANS] UNIQUE NONCLUSTERED 
(
	[DateAcquired] ASC,
	[WorkID] ASC,
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TRANS] ON
INSERT [dbo].[TRANS] ([TransactionID], [DateAcquired], [AcquisitionPrice], [PurchaseDate], [SalesPrice], [AskingPrice], [CustomerID], [WorkID]) VALUES (1, CAST(0x0000A00500000000 AS DateTime), CAST(70000.00 AS Numeric(8, 2)), NULL, NULL, CAST(90000.00 AS Numeric(8, 2)), NULL, 1)
INSERT [dbo].[TRANS] ([TransactionID], [DateAcquired], [AcquisitionPrice], [PurchaseDate], [SalesPrice], [AskingPrice], [CustomerID], [WorkID]) VALUES (2, CAST(0x0000A00D00000000 AS DateTime), CAST(200000.00 AS Numeric(8, 2)), NULL, NULL, CAST(300000.00 AS Numeric(8, 2)), NULL, 2)
INSERT [dbo].[TRANS] ([TransactionID], [DateAcquired], [AcquisitionPrice], [PurchaseDate], [SalesPrice], [AskingPrice], [CustomerID], [WorkID]) VALUES (3, CAST(0x0000A01700000000 AS DateTime), CAST(199000.00 AS Numeric(8, 2)), NULL, NULL, CAST(300000.00 AS Numeric(8, 2)), NULL, 3)
SET IDENTITY_INSERT [dbo].[TRANS] OFF
/****** Object:  Table [dbo].[WORK]    Script Date: 08/01/2013 20:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WORK](
	[WorkID] [int] IDENTITY(1,1) NOT NULL,
	[ArtistID] [int] NOT NULL,
	[Title] [char](25) NOT NULL,
	[Copy] [char](8) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [XPKWORK] PRIMARY KEY CLUSTERED 
(
	[WorkID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [XAK1WORK] UNIQUE NONCLUSTERED 
(
	[Title] ASC,
	[Copy] ASC,
	[ArtistID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[WORK] ON
INSERT [dbo].[WORK] ([WorkID], [ArtistID], [Title], [Copy], [Description]) VALUES (1, 3, N'Vi Vida                  ', N'77      ', N'темная')
INSERT [dbo].[WORK] ([WorkID], [ArtistID], [Title], [Copy], [Description]) VALUES (2, 1, N'The Tilled Field         ', N'99/d    ', N'Хорошее качество')
INSERT [dbo].[WORK] ([WorkID], [ArtistID], [Title], [Copy], [Description]) VALUES (3, 1, N'La Lecon de Ski          ', N'2/7     ', NULL)
SET IDENTITY_INSERT [dbo].[WORK] OFF
/****** Object:  Table [dbo].[Nation]    Script Date: 08/01/2013 20:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nation](
	[NatID] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](25) NOT NULL,
 CONSTRAINT [pk_Nation_NatID] PRIMARY KEY CLUSTERED 
(
	[NatID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [uk_Nation_Value] UNIQUE NONCLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Nation] ON
INSERT [dbo].[Nation] ([NatID], [Value]) VALUES (1, N'Испанец                  ')
INSERT [dbo].[Nation] ([NatID], [Value]) VALUES (2, N'Итальянец                ')
INSERT [dbo].[Nation] ([NatID], [Value]) VALUES (3, N'Русский                  ')
SET IDENTITY_INSERT [dbo].[Nation] OFF
/****** Object:  Table [dbo].[ARTIST]    Script Date: 08/01/2013 20:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARTIST](
	[ArtistID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [char](25) NOT NULL,
	[BirthYear] [numeric](4, 0) NULL,
	[DeceaseYear] [numeric](4, 0) NULL,
	[NatID] [int] NULL,
 CONSTRAINT [XPKARTIST] PRIMARY KEY CLUSTERED 
(
	[ArtistID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [XAK1ARTIST] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ARTIST] ON
INSERT [dbo].[ARTIST] ([ArtistID], [Name], [BirthYear], [DeceaseYear], [NatID]) VALUES (1, N'Miro                     ', CAST(1893 AS Numeric(4, 0)), CAST(1983 AS Numeric(4, 0)), 1)
INSERT [dbo].[ARTIST] ([ArtistID], [Name], [BirthYear], [DeceaseYear], [NatID]) VALUES (2, N'Kandinsky                ', CAST(1866 AS Numeric(4, 0)), CAST(1944 AS Numeric(4, 0)), 3)
INSERT [dbo].[ARTIST] ([ArtistID], [Name], [BirthYear], [DeceaseYear], [NatID]) VALUES (3, N'Frings                   ', CAST(1929 AS Numeric(4, 0)), CAST(2011 AS Numeric(4, 0)), 1)
SET IDENTITY_INSERT [dbo].[ARTIST] OFF
/****** Object:  View [dbo].[ArtistWorkNet]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ArtistWorkNet](WorkID,Name,Title,Copy,AcquisitionPrice,SalesPrice,NetPrice)
AS
SELECT WORK.WorkID, ARTIST.Name, WORK.Title, WORK.Copy, TRANS.AcquisitionPrice, TRANS.SalesPrice, SalesPrice - AcquisitionPrice
	FROM WORK,ARTIST,TRANS
		WHERE TRANS.WorkID = WORK.WorkID
AND
WORK.ArtistID = ARTIST.ArtistID
GO
/****** Object:  View [dbo].[ArtistNet]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ArtistNet](Name,TotalNet)
AS
SELECT ArtistWorkNet.Name,sum(NetPrice)
	FROM ArtistWorkNet
		GROUP BY Name
GO
/****** Object:  Table [dbo].[CUSTOMER_ARTIST_INT]    Script Date: 08/01/2013 20:56:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_ARTIST_INT](
	[CustomerID] [int] NOT NULL,
	[ArtistID] [int] NOT NULL,
 CONSTRAINT [XPKCUSTOMER_ARTIST_INT] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[ArtistID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CUSTOMER_ARTIST_INT] ([CustomerID], [ArtistID]) VALUES (2, 5)
INSERT [dbo].[CUSTOMER_ARTIST_INT] ([CustomerID], [ArtistID]) VALUES (3, 12)
INSERT [dbo].[CUSTOMER_ARTIST_INT] ([CustomerID], [ArtistID]) VALUES (3, 13)
/****** Object:  View [dbo].[CustomerInterests]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CustomerInterests](Artist,Customer)
AS
SELECT ARTIST.Name,CUSTOMER.Name
	FROM ARTIST,CUSTOMER,CUSTOMER_ARTIST_INT
		WHERE CUSTOMER.CustomerID = CUSTOMER_ARTIST_INT.CustomerID
AND
CUSTOMER_ARTIST_INT.ArtistID = ARTIST.ArtistID
GO
/****** Object:  View [dbo].[CustomerInterestrs]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- VIEWS FOR PROGRAM --

CREATE VIEW [dbo].[CustomerInterestrs] AS
	SELECT C.Name as Customer, A.Name as Artist
	FROM CUSTOMER C
		JOIN CUSTOMER_ARTIST_INT CI
		ON C.CustomerID = CI.CustomerID
		JOIN ARTIST A
		ON CI.ArtistID = A.ArtistID;
GO
/****** Object:  View [dbo].[WorkNet]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WorkNet](Name,Title,Copy,TotalNet)
AS
SELECT ArtistWorkNet.Name,ArtistWorkNet.Title,ArtistWorkNet.Copy,sum(NetPrice)
	FROM ArtistWorkNet
		GROUP BY Name, Title, Copy
GO
/****** Object:  View [dbo].[WORK_VIEW]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WORK_VIEW] AS
	select WORK.WorkID, ARTIST.Name, WORK.Title, WORK.Copy, WORK.Description
	from WORK
		 inner join ARTIST
		 on WORK.ArtistID = ARTIST.ArtistID
GO
/****** Object:  View [dbo].[TRANS_VIEW]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TRANS_VIEW] AS
SELECT TRANS.TransactionID, TRANS.WorkID, WORK.Title AS WorkTitle, WORK.Copy AS WorkCopy,
	   TRANS.CustomerID, Customer.Name AS CustomerName, CUSTOMER.PhoneNumber AS CustomerPhoneNumber,
	   TRANS.DateAcquired, TRANS.AcquisitionPrice, TRANS.PurchaseDate, TRANS.SalesPrice, TRANS.AskingPrice
FROM   TRANS
		left join WORK on TRANS.WorkID = WORK.WorkID
		left join CUSTOMER on TRANS.CustomerID = CUSTOMER.CustomerID
GO
/****** Object:  View [dbo].[trans_dates]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[trans_dates] as Select distinct DateAcquired from 	TRANS union Select distinct PurchaseDate from TRANS
GO
/****** Object:  StoredProcedure [dbo].[Add_WORK]    Script Date: 08/01/2013 20:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Add_WORK]
	(
	@ArtistID int, /*Художник должен уже присутствовать
					в базе данных */
	@Title char(25),
	@Copy char(8),
	@Description varchar(1000),
	@AcquisitionPrice Numeric(6,2)
	)
	
/* Хранимая процедура, регистрирующая приобретение галереей
произведения. Если произведение никогда раньше не появлялось
в галерее, в таблицу WORK добавляется новая строка.
В противном случае используется существующая строка. Далее
добавляется строка в таблицу TRANSACTION, а столбец
DateAcquired в ней устанавливается раынвм системной дате */

AS

	DECLARE @rowcount as int
	DECLARE @WorkID as int
	
/* Сначала следует убедиться, что ArtistID имеет допустимое
значение */
	SELECT @rowcount = Count(*) 
	FROM ARTIST A
	WHERE A.ArtistID = @ArtistID
	
IF @rowcount = 0
/* Нет такого художника */
	BEGIN
		Print 'Нет художника с ID = ' + Str(@ArtistID)
		Print 'Обработка прервана.'
		return
	END
		
/* Теперь смотрим, есть ли это произведение в базе данных */
	SELECT @rowcount = Count(*)
	FROM WORK W
	WHERE W.ArtistID = @ArtistID and
		W.Title = @Title and
		W.Copy = @Copy
			
	IF @rowcount = 0
		/* Произведения нет в базе, записываем его */
		INSERT INTO WORK (Title, Copy, Description, ArtistID)
		VALUES (@Title, @Copy, @Description, @ArtistID)
		
/* Получаем значение суррогатного ключа WorkID */
	SELECT @WorkID = W.WorkID
	FROM WORK W
	WHERE W.ArtistID = @ArtistID and
		W.Title = @Title and
		W.Copy = @Copy
			
/* Вставляем новую строку в таблицу TRANSACTION */
	INSERT INTO TRANS (DateAcquired, AcquisitionPrice, WorkID)
	VALUES (GetDate(), @AcquisitionPrice, @WorkID)
		
RETURN
GO
/****** Object:  View [dbo].[acquired_dynamics]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[acquired_dynamics] as Select trans.DateAcquired as 	acqDate, COUNT(Trans.DateAcquired) as acqCount from TRANS group 	by trans.DateAcquired
GO
/****** Object:  View [dbo].[purchase_dynamics]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[purchase_dynamics] as Select trans.PurchaseDate as 	purDate, COUNT(Trans.PurchaseDate) as purCount from TRANS group 	by trans.PurchaseDate
GO
/****** Object:  View [dbo].[purAcqDyn]    Script Date: 08/01/2013 20:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[purAcqDyn] as select * from trans_dates left join 	purchase_dynamics on trans_dates.DateAcquired = 	purchase_dynamics.purDate left join acquired_dynamics on 	trans_dates.DateAcquired = acquired_dynamics.acqDate
GO
/****** Object:  Check [BirthYearValidate]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[ARTIST]  WITH CHECK ADD  CONSTRAINT [BirthYearValidate] CHECK  (([BirthYear]<[DeceaseYear]))
GO
ALTER TABLE [dbo].[ARTIST] CHECK CONSTRAINT [BirthYearValidate]
GO
/****** Object:  Check [ValidBirthYear]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[ARTIST]  WITH CHECK ADD  CONSTRAINT [ValidBirthYear] CHECK  (([BirthYear] like '[1-2][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[ARTIST] CHECK CONSTRAINT [ValidBirthYear]
GO
/****** Object:  Check [ValidDeathYear]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[ARTIST]  WITH CHECK ADD  CONSTRAINT [ValidDeathYear] CHECK  (([DeceaseYear] like '[1-2][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[ARTIST] CHECK CONSTRAINT [ValidDeathYear]
GO
/****** Object:  Check [SalesPriceRange]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[TRANS]  WITH CHECK ADD  CONSTRAINT [SalesPriceRange] CHECK  (([SalesPrice]>=(30000) AND [SalesPrice]<=(1500000)))
GO
ALTER TABLE [dbo].[TRANS] CHECK CONSTRAINT [SalesPriceRange]
GO
/****** Object:  Check [ValidTransDate]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[TRANS]  WITH CHECK ADD  CONSTRAINT [ValidTransDate] CHECK  (([DateAcquired]<=[PurchaseDate]))
GO
ALTER TABLE [dbo].[TRANS] CHECK CONSTRAINT [ValidTransDate]
GO
/****** Object:  ForeignKey [R]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[ARTIST]  WITH CHECK ADD  CONSTRAINT [R] FOREIGN KEY([NatID])
REFERENCES [dbo].[Nation] ([NatID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ARTIST] CHECK CONSTRAINT [R]
GO
/****** Object:  ForeignKey [R_6]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[CUSTOMER_ARTIST_INT]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_ARTIST_INT] CHECK CONSTRAINT [R_6]
GO
/****** Object:  ForeignKey [using]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[CUSTOMER_ARTIST_INT]  WITH CHECK ADD  CONSTRAINT [using] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[ARTIST] ([ArtistID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOMER_ARTIST_INT] CHECK CONSTRAINT [using]
GO
/****** Object:  ForeignKey [R_1]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[TRANS]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TRANS] CHECK CONSTRAINT [R_1]
GO
/****** Object:  ForeignKey [R_2]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[TRANS]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([WorkID])
REFERENCES [dbo].[WORK] ([WorkID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TRANS] CHECK CONSTRAINT [R_2]
GO
/****** Object:  ForeignKey [R_3]    Script Date: 08/01/2013 20:56:24 ******/
ALTER TABLE [dbo].[WORK]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[ARTIST] ([ArtistID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[WORK] CHECK CONSTRAINT [R_3]
GO
